<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <title>Binary Logs File uploads</title>
</head>
<body>
    <p>
        This is the main page, you are not supposed to be here
        unless you have logged in.
    </p>
    <p>You have logged in as: &nbsp;<strong>{{  user_id }}</strong>&nbsp;</p>
    <p>
        Use <pre>POST /api/v1/logs/{UUID}</pre> to upload binary data.<br>
        This will be saved in the <pre>{{ workdir }}</pre> folder on this server.
    </p>
</body>
</html>
