<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Apache Mesos Outliers Detection</title>
</head>
<body>
    <p>
        This is the main page, mostly just used to test the app is running.
    </p>
    <p>
        Use: <pre>GET /api/v1/outliers</pre>
        to retrieve a list of servers IDs that we have detected as
        behaving outside of norm.<br>
    </p>
    <p> This is retrieved from the DB at: <pre>{{ db_uri }}</pre>
    </p>
    <p>
        This application's working directory is: <pre>{{ workdir }}</pre>
    </p>
</body>
</html>
